body {
    background: url('/static/hub/Honey Dew.jpg') 100% no-repeat fixed;
}

.nav-pills .nav-link {
    margin: 10px 3px;
}

.bg-yellow {
    background-color: lightgoldenrodyellow;
}

.bg-blue {
    background-color: turquoise;
}

.bg-red {
    background-color: lightsalmon;
}

.progress-bar {
    color: black;
}

.nav-pills .nav-link:not(.active) {
    color: white;
    background-color: rgb(11, 15, 15);
    opacity: 0.5;
}

label {
    font-size: large;
    font-weight: bold;
}

.nav-pills .nav-link.active {
    background-color: rgb(0, 0, 0);
}

#id_title, #id_mood, #id_notes {
    flex-direction: column;
    width: 100%;
}

#addMood {
    margin: 5px 0;
}

#container {
    text-align: center;
}

#headerTop {
    flex-direction: column;
}

.box {
    width: 15px;
    height: 15px;
    /* background-color: black; */
    border: 2px solid black;
    margin: 1px;
}

.box:hover {
    border: 2px solid white;
}

.grid-marker {
    font-size: 15px;
    margin: 0;
    text-align: right;
}

a {
    color: lightseagreen;
}

a:active, a:visited {
    color: teal;
}

#tabs {
    margin-bottom: 20px;
}

.jumbotron {
    background-color: black;
}

#title {
    font-family: 'Lobster', cursive;
}

#stamped {
    background-color: palegoldenrod;
}

#stamped:hover {
    background-color: rgb(71, 209, 195);
}

#noted {
    margin: 5px;
    font-family: 'Lobster', cursive;
    color: black;
}

#about, .btn {
    color: white;
    background-color: black;
    border: none;
}

#about:hover {
    background-color: rgb(64, 75, 71);
}

#about {
    margin-bottom: 30px;
}

select {
    margin: 0 3px;
}

.progress {
    background-color: black;
}

#motto, #user {
    color: lightseagreen;
}

#motto {
    font-size: large;
}

#footer {
    height: 30px;
}

#weekRange {
    text-align: right;
}

.months {
    width: 5%;
}

.card-title {
    font-family: 'Lobster', cursive;
}
