h1 {
    font-size: 5em;
    margin-top: 25%;
    font-family: 'Galada', cursive;
    opacity: 75%;
}

#id_username, #id_password {
    border-radius: 5px;
}

#login-panel, #register-panel {
    flex-direction: column;
}

body {
    background: url("Megatron.9eeb07298fa7.jpg") 100% no-repeat fixed;
}

.btn-light {
    background-color: palegreen;
    border: 2px solid black;
}

.btn-light:hover {
    background-color: lightsalmon;
    border: 2px solid black;
}