{% include 'hub/index.html' %}

<body>
    <div class="container w-50 justify-content-left">
        <div class="row justify-content-left"><h1>ninety-year calendar</h1></div>
        <div class="row justify-content-left">
            <p class="text-muted">
                Each year starts on your birthday. Click on a box to see your notes for that week.  
            </p>
        </div>
    </div>

    <div class="container" id="footer"></div>

    <div class="container w-75" id="container">
        <!-- <p id="calendar-header">ninety-year calendar</p> -->
        {% if bound == 0 %}
        <small class="text-muted" id="hint">Set your birthday in your <a href="{% url 'hub:user' %}">profile</a> to use the calendar.</small>
        {% endif %}

        {% for i in years %}
        <div class="row justify-content-center">
            <div class="col-1">
                <p class="grid-marker">{{ i }}</p>
            </div>

            {% for m in weeks %}
            {% if counter < bound %}

            <!-- <div class="tooltip">Hover over me
                <span class="tooltiptext">Tooltip text</span>
              </div>  -->

            <!-- <a href="" id="box{{ forloop.counter0 }}" class="box" style="background-color: black;"></a> -->
            <a href="{% url 'hub:week' i m %}" type="button" id="box{{ forloop.counter0 }}" class="box" style="background-color: black;"></a>
            {% else %}
            <!-- <div id="box{{ forloop.counter0 }}" class="box"></div> -->
            <div type="button" id="box{{ forloop.counter0 }}" class="box" disabled>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <div class="container" id="footer"></div>
</body>

</html>