{% include 'hub/index.html' %}

<body>
    <div class="container w-100 content-wrap" id="container">
        <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal" id="about">
            Life Calendar
          </button>

        <br>

        {% if bound == 0 %}
        <p id="hint">Set your birthday in your <a href="{% url 'hub:user' %}">profile</a> to use the calendar.</p>
        {% endif %}

        {% for i in years %}
        <div class="row justify-content-center">
            <div class="col-1">
                <p class="grid-marker">{{ i }}</p>
            </div>

            {% for m in weeks %}
            {% if counter < bound %}

            <!-- <div class="tooltip">Hover over me
                <span class="tooltiptext">Tooltip text</span>
              </div>  -->

            <!-- <a href="" id="box{{ forloop.counter0 }}" class="box" style="background-color: black;"></a> -->
            <a href="{% url 'hub:week' i m %}" type="button" id="box{{ forloop.counter0 }}" class="box" style="background-color: black;"></a>
            {% else %}
            <!-- <div id="box{{ forloop.counter0 }}" class="box"></div> -->
            <div type="button" id="box{{ forloop.counter0 }}" class="box" disabled>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">90-Year Life Calendar</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                Each year of the calendar begins with your birthday; each box is a week in your life. <br>
                Click on a marked box to see your notes during that week.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
</body>

</html>