{% include 'hub/index.html' %}

<body>
    <div class="container" id="calendar-header">
        ninety-year calendar
    </div>
    <div class="container">
        {% for i in years %}
        <div class="row">
            <div class="col-1">
                <p class="grid-marker">{{ i }}</p>
            </div>

            {% for m in weeks %}
            {% if counter < bound %}
            <!-- <div id="box{{ forloop.counter0 }}" class="box" style="background-color: black;"></div> -->
            <button type="button" id="box{{ forloop.counter0 }}" class="box modal-box" style="background-color: black;" data-toggle="modal" data-target="#exampleModal">
            </button>
            {% else %}
            <!-- <div id="box{{ forloop.counter0 }}" class="box"></div> -->
            <button type="button" id="box{{ forloop.counter0 }}" class="box" disabled>
            </button>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>