{% include 'hub/index.html' %}

<div class="container d-flex justify-content-center w-75">
    <br>
    <form action="{% url 'hub:updateUserProfile' %}" method="post" class="w-50">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_birthdate">Birthday: </label><br>
            {{ form.birthdate }}<br>
            <small class="text-muted">Used for 90-year calendar.</small>
        </div>
        <div class="form-row justify-content-center">
            <input type="submit" class="btn btn-light" value="Update">
        </div>
    </form>
</div>